body {
	background-color: LightGray;
}
div {
	border: 1px solid Choclate;
}

.logo{
    margin-left:20px;

}

.links{
  width:70%;
  float:right;
}

.top-navigation {
	background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #DDD;
    z-index: 9999;	
}
.top-navigation > .content {
	height: 4.375rem;
}


.top-navigation .links li.active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .logo {
    height: 4.375rem;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 1.563rem;
}